body {
  background-color: #ffa;
  color: #337AB7;
}

output{
  color:#555;
  border-radius: 10%;
  border: solid 1px #D0D0CC;
  padding: 4px 12px 4px 12px;
  line-height: 1.15;
}

input{
  color: #000 ;
  font-size: 1.5em !important;
  font-weight: bold;
}

h1 {
  color:#337AB7;
}



*.mainForm {
  float:left;
}


.container {
  margin-left : 15px;
}

.output-amount {
  background-color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

.form-label-text{
  font-size: 1.5em;
  width: 125px;
}
.label-primary{
  font-size: 1.5em;
}
input[type="number"] {
  width: 100px !important;
}

#splitNum{
  width: 100px;
  font-size: 1.5em;
  font-weight: bold;
}
.form-control{
  padding-top: 4px;
  padding-bottom: 4px;
}
